
<div class="nosotros-container">
  <div class="contenido-central">
    <h1>¿Quiénes somos?</h1>
    <p>PayTrack es una plataforma financiera diseñada para simplificar la proyección de pagos de bonos corporativos. Usamos el método francés de amortización para generar cálculos precisos y detallados que ayudan tanto a emisores como a bonistas a tomar decisiones informadas. Nuestra misión es proporcionar una herramienta confiable para gestionar bonos y maximizar el rendimiento de las inversiones.</p>
  </div>

  <div class="mision-vision">
    <div class="mision">
      <h2>Misión</h2>
      <p>Brindar a los usuarios una plataforma intuitiva que facilite el cálculo, proyección y análisis de bonos corporativos, promoviendo la transparencia y precisión en la gestión de sus finanzas.</p>
    </div>
    <div class="vision">
      <h2>Visión</h2>
      <p>Ser la herramienta líder en el mercado para la gestión y proyección de bonos corporativos, utilizando tecnología avanzada para simplificar los cálculos financieros y facilitar las decisiones estratégicas</p>
    </div>
  </div>
</div>
