<div class="auth-container">
  <h2 *ngIf="isLogin">Iniciar Sesión</h2>
  <h2 *ngIf="!isLogin">Crear Cuenta</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <ng-container *ngIf="!isLogin">
      <input type="text" placeholder="Nombre completo" required formControlName="name"/>
    </ng-container>

    <input type="email" placeholder="Correo electrónico" required formControlName="email"/>
    <input type="password" placeholder="Contraseña" required formControlName="contra"/>

 <button class="click" type="submit">Registrarse</button>
    <p>
      {{ isLogin ? '¿No tienes cuenta?' : '¿Ya tienes cuenta?' }}
      <a (click)="toggleForm()">
        {{ isLogin ? 'Regístrate' : 'Iniciar Sesión' }}
      </a>
    </p>
  </form>
</div>
