<div class="contenedor-flex">
  <div class="layout">
    <div class="contenedor-formulario">
    <h2 class="titulo-principal">REGISTRO DE BONOS</h2>
      <form (ngSubmit)="calcularFlujo()" #bonoForm="ngForm">
        <div class="columna">
          <label>Valor Nominal:
            <input type="number"
                   [(ngModel)]="bono.valorNominal"
                   name="valorNominal"
                   (ngModelChange)="validarValorNominal()"
                   required>
            <div *ngIf="mensajeAdvertenciaValorNominal" class="error">
              <br>
              <span style="color: red;"> El valor nominal debe estar entre 1,000 y 10,000,000. <br></span>
              <br>
            </div>
          </label>

          <label>Tasa Cupón:
            <input type="number"
                   step="0.01"
                   name="tasaCupon"
                   [(ngModel)]="bono.tasaCupon"
                   (ngModelChange)="validarTasaCupon()"
                   required>
            <div *ngIf="mensajeAdvertenciaTasa" class="error">
              <br>
              <span style="color: red;"> La tasa cupón debe estar entre 1% y 20%. <br></span>
              <br>
            </div>
          </label>

          <label>Frecuencia de Pago:
            <select type="text" name="frecuenciaPago" [(ngModel)]="bono.frecuenciaPago" required>
              <option value="ANUAL">Anual</option>
              <option value="SEMESTRAL">Semestral</option>
              <option value="CUATRIMESTRAL">Cuatrimestral</option>
              <option value="TRIMESTRAL">Trimestral</option>
              <option value="BIMESTRAL">Bimestral</option>
              <option value="MENSUAL">Mensual</option>
              <option value="QUINCENAL">Quincenal</option>
            </select>
          </label>

          <label>Plazo (en años):
            <input type="number"
                   name="plazoAnios"
                   [(ngModel)]="bono.plazoAnios"
                   (ngModelChange)="validarPlazoAnios()"
                   required>
            <div *ngIf="mensajeAdvertenciaPlazoAnios" class="error">
              <br>
              <span style="color: red;"> El plazo del bono debe estar entre 1 y 30 años. <br></span>
              <br>
            </div>
          </label>

          <label>Gracia Total:
            <input type="number"
                   name="graciaTotal"
                   [(ngModel)]="bono.graciaTotal"
                   (ngModelChange)="validarPlazosDeGracia()">
            <div *ngIf="mensajeAdvertenciaPlazoGraciaTotal" class="error">
              <br>
              <span style="color: red;"> La gracia total no debe exceder el 25% del plazo total. <br></span>
              <br>
            </div>
            <div *ngIf="mensajeAdvertenciaSumaGracia" class="error">
              <br>
              <span style="color: red;"> La suma de los plazos de gracia total y parcial no puede ser mayor o igual que el total de periodos. <br></span>
              <br>
            </div>
          </label>
          <label>Gracia Parcial:
            <input type="number"
                   name="graciaParcial"
                   [(ngModel)]="bono.graciaParcial"
                   (ngModelChange)="validarPlazosDeGracia()">
            <div *ngIf="mensajeAdvertenciaPlazoGraciaParcial" class="error">
              <br>
              <span style="color: red;"> La gracia parcial no debe exceder el 40% del plazo total. <br></span>
              <br>
            </div>
            <div *ngIf="mensajeAdvertenciaSumaGracia" class="error">
              <br>
              <span style="color: red;"> La suma de los plazos de gracia total y parcial no puede ser mayor o igual que el total de periodos. <br></span>
              <br>
            </div>
          </label>
        </div>

        <div class="columna">
          <label>Fecha de Emisión:
            <input type="date" name="fechaEmision" [(ngModel)]="bono.fechaEmision">
          </label>

          <label>Número de días por año:
            <input type="number" name="numeroDiasPorAno" [(ngModel)]="bono.numeroDiasPorAno">
          </label>

          <label>Cavali:
            <input type="number" name="cavali" step="0.001" [(ngModel)]="bono.cavali">
          </label>

          <label>Estructuración:
            <input type="number" name="estructuracion" step="0.001" [(ngModel)]="bono.estructuracion">
          </label>

          <label>Colocación:
            <input type="number" name="colocacion" step="0.001" [(ngModel)]="bono.colocacion">
          </label>
        </div>

        <div class="boton-centro">
          <button type="submit"
                  [disabled]="!valorNominalValido"
                  [disabled]="!valorTasaCuponValido"
                  [disabled]="!valorPlazoAniosValido"
                  [disabled]="!valorPlazoGraciaTotalValido"
                  [disabled]="!valorPlazoGraciaParcialValido"
                  [disabled]="!valorGraciaValida"
          >
            CALCULAR FLUJO</button>
        </div>
      </form>
    </div>

    <!-- RESULTADOS -->
    <div class="resultados" *ngIf="flujoBono.length > 0">
      <h3>RESULTADOS</h3>
      <p><strong>TCEA:</strong> {{ tcea | percent:'1.2-2' }}</p>
      <p><strong>TREA:</strong> {{ trea | percent:'1.2-2' }}</p>
      <p><strong>Duración:</strong> {{ duracion | number:'1.2-2' }}</p>
      <p><strong>Duración Modificada:</strong> {{ duracionModificada | number:'1.2-2' }}</p>
      <p><strong>Convexidad:</strong> {{ convexidad | number:'1.2-2' }}</p>
    </div>
  </div>
</div>

<div class="contenedor-boton-guardar">
  <button class="boton-guardar" type="button" (click)="guardarBono()">GUARDAR BONO</button>
</div>

<div class="contenedor-boton-ver">
  <button class="boton-ver" type="button" (click)="irAListadoBonos()">VER BONOS</button>
</div>

<app-configuration (openPopup)="abrirConfiguracion()"></app-configuration>

<app-configuration-popup
  *ngIf="mostrarPopup"
  [moneda]="bono.moneda"
  [tipoTasa]="bono.tipoTasa"
  [capitalizacion]="bono.capitalizacion ?? ''"
  (close)="cerrarPopup()"
  (save)="guardarConfiguracion($event)">
</app-configuration-popup>

<div *ngIf="flujoBono.length > 0">
  <h3 class="titulo-amortizacion">CUADRO DE AMORTIZACIÓN</h3>
  <div class="tabla-scroll">
    <table border="1">
      <thead>
        <tr>
          <th>Periodo</th>
          <th>Fecha</th>
          <th>Gracia</th>
          <th>Saldo Inicial</th>
          <th>Interés</th>
          <th>Cuota</th>
          <th>Amortización</th>
          <th>Saldo Final</th>
          <th>Flujo Neto</th>
          <th>Flujo Actualizado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of flujoBono">
          <td>{{c.t}}</td>
          <td>{{c.fechaPago}}</td>
          <td>{{c.tipoGracia}}</td>
          <td>{{c.saldoInicial | number:'1.2-2'}}</td>
          <td>{{c.interes | number:'1.2-2'}}</td>
          <td>{{c.cuota | number:'1.2-2'}}</td>
          <td>{{c.amortizacion | number:'1.2-2'}}</td>
          <td>{{c.saldoFinal | number:'1.2-2'}}</td>
          <td>{{c.flujoNeto | number:'1.2-2'}}</td>
          <td>{{c.flujoActualizado | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
